.Landing {
    width: 100%;
    max-width: 1190px;
    background-color: #bfbfbf;
    min-height:200px;
    margin: 0 auto;
}

.LandingContent {
    width: 100%;
    max-width: 790px;
    margin: 0 auto;
    padding: 40px;
}

.Header {
    position: relative;
    display: flex;
    max-width: 1190px;
    margin: 0 auto;
}


.Button {
    background-color: #afafaf;
    color:#222222;
    padding: .75rem 1.5rem;
    text-align: center ;
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none !important;
    border-bottom: none;
    transition: all .2s ease-out;
    max-width: 50%;
}

.Button:hover {
    color: #afafaf;
    background-color: #222222;
}

.Button.highlighted {
    color:#fff;
    background-color:#a80202;
}

.Button.highlighted:hover {
    color:#a80202;
    background-color:#fff
}

.menu {
    margin-left:-100px;
    margin-right: -100px;
}

.Logo {
    width: 30%;
    max-width:180px;
    height:auto;
    float:right;
}

.Spacer {
    padding: inherit 5px;
}

@media (max-width: 700px) {
    .Logo {
        width: 30%;
        max-width:180px;
        height:auto;
    }
}