<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/main.css?v=' | append: site.github.build_revision | relative_url }}">
{% seo %}
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer" style="padding-top:0px;">
      <div class="Header">
        <a href="./"><img src="./cwtools_logo.png" style="height:63px;margin:0;padding:0;"></a>
        <header style="margin-left: 10px;">
          <a href="./"><h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1></a>
          <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>
        </header>            
        <a id="forkme_banner" href="https://github.com/cwtools">View on GitHub</a>
      </div>
    </div>
    <div>
      <h3 align="center" style="color:#fff">
        <a href="./get-started">Get started</a>
        <span class="Spacer"> · </span>
        <a href="./features">Features</a>
        <span class="Spacer"> · </span>
        <a href="./projects">Supported games</a>
        <span class="Spacer"> · </span>
        <a href="./contribute">Contribute</a>
        <span class="Spacer"> · </span>
        <a href="./community">Community</a>
      </h3>
      <h3 align="center" style="color:#fff">
        <a href="https://marketplace.visualstudio.com/items?itemName=tboby.cwtools-vscode" target="_blank">Download Extension › </a>
        <span class="Spacer"> · </span>
        <a href="https://code.visualstudio.com/" target="_blank">Download VS Code › </a>
      </h3>
    </div>
    {% if page.url == "/" %}
    <div class="outer">
      <div class="Landing">
        <div class="LandingContent">
          <img src="./cwtools_logo.png" class="Logo">
          <h1 style="font-size: 4rem;"> CW Tools </h1>
          <h3 style="font-size: 2rem;"> Fun, productive, cleaner modding </h3>
          <h3 style="margin-top: 60px;">
            <a href="./get-started" class="Button highlighted" style="padding-right:50px">Get started</a>
            <a href="https://marketplace.visualstudio.com/items?itemName=tboby.cwtools-vscode" class="Button"  target="_blank">Download › </a>
          </h3>
        </div>        
      </div>   
    </div>
    {% endif %}
    

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">CW Tools lead by <a href="https://github.com/tboby">tboby</a></p>
        <p class="copyright">CW Website maintained by <a href="https://github.com/HerrX2000">Reloader</a></p>
      </footer>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
